body {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  padding: 70px 0;
  background: #000 url("/background.jpg") top center/cover no-repeat;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__wrapper h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
}

.container {
  max-width: 870px;
  margin: 0 auto;
}

.hero-form {
  width: 100%;
  padding: 30px 40px;
  background: #fff;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
}
.hero-form .line {
  display: block;
  width: 1px;
  height: 32px;
  background: #d2d2d2;
}
.hero-form h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}
.hero-form p {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--grey-g-70, #616161);
  text-align: center;
}
.hero-form form {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}
.hero-form form button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: var(--white, #fff);
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  padding: 22px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--brand-lue, #009fe3);
  transition: all 0.5s ease;
}
.hero-form form button:hover {
  background: #007bb0;
}
.hero-form form button:active {
  transform: scale(0.98);
}

.form-item {
  display: flex;
  padding: 0px 24px;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--grey-g-5, #f4f4f4);
}
.form-item svg {
  flex: 0 0 auto;
}
.form-item input {
  padding: 0;
  background: transparent;
  padding: 16px 0;
  height: 100%;
  box-shadow: none;
  border: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.form-item input::-moz-placeholder {
  color: #d2d2d2;
}
.form-item input::placeholder {
  color: #d2d2d2;
}
.form-item input:focus {
  outline: none;
}
.form-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.form-number--icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#inputNumber {
  width: 136px;
}

#inputRegion {
  width: 50px;
}

#inputMilage {
  width: 170px;
}

@media (max-width: 768px) {
  .hero {
    min-height: 100vh;
    padding: 70px 0;
    background: #000 url("/background.jpg") top center/cover no-repeat;
  }
  .hero__wrapper h1 {
    font-size: 25px;
    margin-bottom: 80px;
  }
  .form-item {
    flex: 1 1 auto;
  }
  .form-item input {
    font-size: 20px;
  }
  #inputMilage {
    width: 100%;
  }
  .hero-form {
    width: auto;
    padding: 30px 20px;
    margin: 0 10px;
  }
  .hero-form h2 {
    font-size: 18px;
  }
  .hero-form p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */